<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:aop = "http://www.springframework.org/schema/aop"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
   
  	<!-- Autowiring with byName -->
	<bean id="emp" class="spring.model.Employee" autowire="byName">
		<property name="name" value="Ajay" />
		<property name="id" value="14" />
	</bean>
	
	<bean id="address" class="spring.model.Address">
		<constructor-arg name="city" value="Noida" />
		<constructor-arg name="state" value="UP" />
	</bean>
	
	<!--
	 Autowiring with byType 
	<bean id="emp" class="spring.model.Employee" autowire="byType">
		<property name="name" value="Ajay" />
		<property name="id" value="14" />
	</bean>
	
	<bean id="address" class="spring.model.Address">
		<constructor-arg name="city" value="Noida" />
		<constructor-arg name="state" value="UP" />
	</bean>
	
	 Autowiring with constructer 
	<bean id="emp" class="spring.model.Employee" autowire="constructor">
		<property name="name" value="Ajay" />
		<property name="id" value="14" />
	</bean>
	
	<bean id="address" class="spring.model.Address">
		<constructor-arg name="city" value="Noida" />
		<constructor-arg name="state" value="UP" />
	</bean>-->
   </beans>