<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="spring" />


	<!--<context:annotation-config/>		   
						   -->
	<!-- Autowiring with byName -->
	<!--	<bean id="emp" class="spring.model.Employee">
		<property name="name" value="Ajay" />
		<property name="id" value="14" />
	</bean>

	<bean id="address" class="spring.model.Address" >
		<constructor-arg name="city" value="Noida" />
		<constructor-arg name="state" value="UP" />
	</bean>
	<bean id="address1" class="spring.model.Address" >
		<constructor-arg name="city" value="Azamgarh" />
		<constructor-arg name="state" value="UP" />
	</bean>
-->

</beans>