<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:aop = "http://www.springframework.org/schema/aop"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
   
  

	<bean id="add" class="spring.model.Address">
		<constructor-arg name="city" value="Noida" />
		<constructor-arg name="state" value="UP" />
	</bean>
	
	<bean id="emp" class="spring.model.Employee">
		<constructor-arg name="name" value="Dikshant" />
		<constructor-arg name="id" value="303" />
		<constructor-arg name="address" ref="add" />
		<constructor-arg>
			<list >
				<value>10</value>
				<value>20</value>
				<value>30</value>
				<value>40</value>
				<value>50</value>
				<value>60</value>
			</list>
		</constructor-arg>
		<constructor-arg>
			<set>
				<value>1</value>
				<value>2</value>
				<value>3</value>
				<value>1</value>
				<value>4</value>
				<value>5</value>
			</set>
		</constructor-arg>
		<constructor-arg>
			<map>
				<entry key="1" value="Abhi" />
				<entry key="2" value="Ajay" />
				<entry key="3" value="Vishal" />
				<entry key="4" value="Arup" />
				<entry key="5" value="Anupam" />
					
			
			</map>
		</constructor-arg>

	</bean>
	
   </beans>